data_processing
__pycache__/
output
wandb
analysis/esmfold/esmfold_eg_out
analysis/esmfold/disturbed_test_seq.fasta
analysis/assets
analysis/comp_sdpa_fa
*.ipynb
generation/data/1022-retrieval_results.tsv
analysis/dplm_check
generation/data
*logs*
generation/af_structures/
generation/af_structures_scripts/uids.txt
docs
.env
analysis/AFDB_structure_download/
